@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/* shared-style */
.bg-light{
  max-width: 1440px;
  margin: 0 auto;
}
.display-flex{
  display: flex;
}
/* dark 01 */
.text-dark-gray{

}
/* dark 02 */
.text-gray{
  color: #424242;
}
/* dark 03 */
.text-light-gray{
  color: #727272;
}


/* header-style */

/* navbar related style */
.navbar{
  justify-content: space-between;
}

.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight:500;
}